/* Tooltip container */
.tooltip {
    position: fixed;
    top:20%;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    /*visibility: hidden;*/
    /*width: 120px;*/
    visibility: visible;
    opacity: 1;
    min-width: 120px;
    max-width: 280px;
    font-size: 0.9em;
    background-image:linear-gradient(to top,rgba(85,85,85,.99),#555555) ;
    color: #fff;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    top:0;
    
    /* Position the tooltip text */
    position: relative;
    z-index: 1;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    transition: opacity 1s;
}


.tooltip .tooltiptext .arrow-clip {
    position: absolute;
    bottom: -10px;
    left: 50%;
    clip: rect(10px 20px 20px 0);
    margin-left: -10px;
}

.tooltip .tooltiptext .tooltip-arrow {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #555;
    transform: rotate(45deg) scale(.5);
}

.tooltip::selection{
    background: #ffb7b7; 
    border-radius: 20px;
    margin: 20x;
}

a:hover.tip {
    font-size: 99%; /* this is just for IE */
}


.tooltiptext a:link {
    color:#ffffff;
    text-decoration: none;
}

.tooltiptext a:visited{
    color: #ffffff;
    text-decoration: none;
}



/* Show the tooltip text when you mouse over the tooltip container */
/*.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}*/

