/* Tooltip container */
.tooltip {
    position: fixed;
    top:20%;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    display: inline-block;
    visibility: visible;
    min-width: 120px;
    max-width: 280px;
    font-size: 0.9em;
    background-image:linear-gradient(to top,rgba(85,85,85,.99),#555555) ;
    color: #fff;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
    top:-20px;

    /* animate the tooltip */
     -webkit-animation: pop 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: pop 0.5s; /* Firefox < 16 */
    -ms-animation: pop 0.5s; /* Internet Explorer */
    -o-animation: pop 0.5s; /* Opera < 12.1 */
    animation: pop 0.5s;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    transition: opacity 1s;
}


.tooltip .tooltiptext .arrow-clip {
    position: absolute;
    bottom: -10px;
    left: 50%;
    clip: rect(10px 20px 20px 0);
    margin-left: -10px;
}

.tooltip .tooltiptext .tooltip-arrow {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #555;
    transform: rotate(45deg) scale(.5);
}

.tooltip::selection{
    background: #ffb7b7; 
    border-radius: 20px;
    margin: 20x;
}

.tooltiptext a {
    color: #ffffff;
}

a:hover.tip {
    font-size: 99%; /* this is just for IE */
}

.tooltiptext .icon {
    margin: 4px;
    padding:4px;
}

.tooltip i:hover {
    color: #00d1b2;
    transition: opacity 1s;
    -webkit-animation: fadein 0.1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.1s; /* Firefox < 16 */
    -ms-animation: fadein 0.1s; /* Internet Explorer */
    -o-animation: fadein 0.1s; /* Opera < 12.1 */
    animation: fadein 0.1s;
}

@keyframes fadein {
    from { color: #ffffff; }
    to   { color: #00d1b2;}
}

@keyframes pop {
    from { opacity: 0; top:-30%}
    to { opacity: 1 ; top:15%}
}

.tooltiptext a:link {
    color:#ffffff;
    text-decoration: none;
}

.tooltiptext a:visited{
    color: #ffffff;
    text-decoration: none;
}



/* Show the tooltip text when you mouse over the tooltip container */
/*.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}*/

